@charset "UTF-8";

#navigation{
	margin: 10px;
	border-radius: 10px;
	opacity: 0.9;
	z-index:9999;
}

#tablediv{
	position: absolute;
    top: 30%;
    left: 32%;
    width:70%;
    min-height:80%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    margin-bottom: 5em;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f3f3f3;
    opacity: 0.9;
}

tr:hover{
	cursor: pointer;
}

#profile{
	position: absolute;
    top: 15%;
    left: 28%;
    width:40%;
    height:75%;
	border: 1px solid #ccc;
    border-radius: 10px;
	background-color: #f3f3f3;
	opacity: 0.9;
}

#profdiv{
	position: absolute;
    top: 15%;
    left: 28%;
    width:40%;
    height:75%;
	border: 1px solid #ccc;
    border-radius: 10px;
	background-color: #f3f3f3;
	opacity: 0.9;
}

#profimg{
	position:relative;
	left: 50%;
	top: 5%;
}

#proftext{
	position:relative;
	left: 2%;
	top: 0%;
	float: left;
}

#myMap{
	position:fixed;
    top: 14%;
    left: 1%;
	border-radius: 30px;
	margin: 20px;
	width: 320px;
	height: 320px;
	align: center;
	background-color: #f3f3f3;
    opacity: 0.95;
    padding: 10px;
}

#search-panel{
	position:fixed;
    top: 18%;
    left: 27%; /* bilo 27%*/
}

#profiltable{
	border-spacing: 20px;
    border-collapse: separate;
}

.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

/*.notification:hover {
  background: red;
}*/

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

#dateModal{
    top: 30%;
}
