@charset "UTF-8";

#tablediv{
	position: absolute;
    top: 30%;
    left: 32%;
    width:70%;
    min-height:80%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    margin-bottom: 5em;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f3f3f3;
    opacity: 0.9;
}



#navigation{
	margin: 10px;
	border-radius: 10px;
	opacity: 0.9;
	z-index:9999;
}

.hidden{
	visibility: hidden;
	width: 0px;
	display: inline;
}

tr:hover{
	cursor: pointer;
}

.profimg{
	border-radis : 50%;
}

#myMap{
	position:fixed;
    top: 14%;
    left: 1%;
	border-radius: 30px;
	margin: 20px;
	width: 320px;
	height: 320px;
	align: center;
	background-color: #f3f3f3;
    opacity: 0.95;
    padding: 10px;
}

#search-panel{
	width: 50%;
	position: relative;
	bottom: 34%;
    left: 65%; /* bilo 27%*/
}


